.ant-card {
    border-radius:10px !important;
}
.ant-card-body{
    text-align:center;
    width:100%;
    height:100%;
}

.innerRoom{
    width:100%;
    height:100%;
    font-size: 20px;
}
.site-card-wrapper {
  padding: 3vw;
  background: #001529;
  font:"Helvetica Neue",Helvetica;
}

[data-theme="dark"] .site-card-wrapper {
  background: #001529
}

.userImage{
    border-radius:10vh;
    background: #001529;
}
.userCard{
    padding:15px;
    width:100%;
}
.userText{
    padding:15px;
    font-size: 20px;
}

.head{
    font-size:30px;
}